[Unit]
Description=Bumblebee LNS
After=network.target

[Service]
Type=simple
Environment=BUMBLEBEE_LNS_HOME=/var/lib/bumblebee-lns
Environment=BUMBLEBEE_LNS_LOG_ROOT=/var/log/bumblebee-lns
ExecStart=/usr/lib/bumblebee-lns/bin/bumblebee-lns
ExecStop=/usr/lib/bumblebee-lns/bin/lorawanctl stop
User=lorawan

[Install]
WantedBy=multi-user.target
